body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(80, 80, 80);
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2em;
}

.highlight {
    color: #1f1f1f;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(34, 34, 34, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}
    
.card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Soft shadow effect */
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background: #c8c8c8;
    color: #222;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #9b9b9b;
}